{% extends "base.html" %}

{% load i18n %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Editing (updating) Proposal -->
<br>
<section>    
    <div class="container-flud">
        <div class="row">
            <div class="col col-md-6 offset-md-2 card">

                {% if user.is_authenticated %}
                <h3>Delete proposal {{ prop.title }}</h3>
                <p>Deleting as: {{ user.username }}</p>
                <form id="commentForm" method="post" style="margin-top: 1.3em;">
                    <!--{{ form | crispy }}-->
                    {% csrf_token %}
                    <h3>You are about to delete your proposal. Please, make sure your idea is stored somewhere else.
                    </h3>
                    <button id="submitButton" type="submit" class="btn btn-danger btn-lg">Delete</button>
                    <div class="row">
                        <div class="col-6 offset-9 container">
                            <a href="{% url 'proposals' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>                
                </form>
                <br>
                
                {% else %}
                <p>You need to be logged in to submit, edit or delete your idea.</p>
                {% endif %}
            </div>

        </div>
    </div>
</section>

{% endblock %}

