{% extends "base.html" %}

{% block content %}
<div class="section-bg">
    <div class="row no-gutters front-text-format">
        <p> Metal 3D printing is a growing alternative method to manufacture complex parts and for most applications is
            a well-established process. The method is based on selective laser or electron-beam melting of layers of
            metal powder.</p>
        <br>
        <br>
        <p>Using additive manufacturing approach, we aim to create metal micro-sized surfaces/coatings having intricate
            structures directly on selected solid metal substrates.</p>
        <br>
        <br>
        <p>This is a novel approach of using this technique to create functional surfaces directly on substrates aiming
            to reduce manufacturing and post processing cost, CO<sub>2</sub> emission, product longevity, and especially the
            possibility to develop the manufacturing upscaling.</p>
    </div>
</div>

{% endblock %}