{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

<section class="section-bg">
    <div class="row no-gutters front-text-format">
        <!--Here comes the page with the single proposal-->
        <div class="col">
            <div>{{ prop.student }} wrote:</div>
            <br>
            <div class="proposal">{{ prop.content }}</div>
            <br>
            <div class="created_on">{{ prop.created_on }}</div>
        </div>
    </div>
    <div class="container-fluid button-position">
        <button class="btn btn-secondary" type="button"><a href="{% url 'update_prop' prop.pk  %}" target="_blank"
                class="share-idea">Edit</a></button>
        <button class="btn btn-dark"><a class="nav-link {% if request.path == logout_url %}active{% endif %} share-idea"
                aria-current="page" href="{% url 'account_logout' %}">Logout</a>
        </button>
    </div>
    <br>

</section>

{% else %}

<div class="row">
    <div class="col">
        <p>You need to sign-in to view proposal content or submit your idea.</p>

    </div>
</div>

{% endif %}

{% endblock %}