{% extends "base.html" %}

{% block content %}

{% load static%}

{% url 'account_login' as login_url %}

{% url 'account_signup' as signup_url %}

{% url 'account_logout' as logout_url %}



<!--Below is the overwiew of the most recently submitted students ideas-->
<br>
<h3 id="ideas-header">Recent ideas<span class="material-symbols-outlined">lightbulb</span></h3>
<div class="ideas">
    <p>
        <u>On this page you can:</u><br>
        - Browse topics and autors of recently submitted proposal if you are not logged in and just searching for an
        inspiration.<br>
        - <b>Log in to be able to see the full text of ideas on the thrilling subject of 3d printing submitted by your fellow students or share
        your own.</b><br>
        - N.b. this an area where you can propose a project idea you would like to implement in the context of your
        study rather than a brainstorm zone.
    </p>
</div>
<div class="entry-background">

    {% for prop in object_list %}

    <div class="row no-gutters prop-overview">
        <br>
        <div class="col-12 col-md-4"><a href="{% url 'prop_single' prop.pk %}"><strong>Topic:
                </strong>{{ prop.title }}</a></div>
        <div class="col-12 col-md-4"><strong>Supmitted on: </strong>{{ prop.created_on }}</div>
        <div class="col-12 col-md-4"><strong>Student: </strong>{{ prop.student }}</div>
    </div>
    <hr>

    {% endfor %}

    {% if user.is_authenticated %}

    <div class="row">
        <div class="col-11 container">
            <br>
            <a href="{% url 'create_new' %}" target="_blank" class="share-idea btn btn-primary">Share your idea with
                us</a>
        </div>
    </div>
    <br>    
    
    {% else %}

    <p class="prop-overview">You need to log in to browse proposal content.</p>
    
    <br>
    
    {% endif %}

</div>

{% endblock %}
