{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

<div class="section-bg">
    <div class="row no-gutters front-text-format">
        <!--Here comes the page with the single proposal-->
        <div class="col">
            <div>{{ prop.student }} wrote:</div>
            <br>
            <div class="proposal">{{ prop.content }}</div>
            <br>
            <div class="created_on">{{ prop.created_on }}</div>
        </div>
    </div>

{% if prop.student == user %}

    <div class="row">
        <div class="col-6 offset-1 container">
            <a href="{% url 'edit' prop.pk %}" target="_blank"
                class="share-idea btn btn-secondary">Edit</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6 offset-1 container">
            <a href="{% url 'delete' prop.pk %}" target="_blank"
            class="share-idea btn btn-warning">Delete</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6 offset-1 container">
            <a class="{% if request.path == logout_url %}active{% endif %} share-idea btn btn-primary"
                aria-current="page" href="{% url 'account_logout' %}">Logout</a>
        </div>
    </div>


    
    
    <div class="container-fluid button-position">
        
       
                
        
    </div>
    <br>

</div>

{% endif %}

{% else %}

<div class="row">
    <div class="col">
        <p>You need to sign-in to view proposal content or submit, edit or delete your idea.</p>
        <button class="btn btn-light"><a href="{% url 'proposals' %}">Back</a></button>

    </div>s
</div>

{% endif %}

{% endblock %}