{% extends "base.html" %}

{% block content %}

{% load static%}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!--Below is the overwiew of the most recently submitted students ideas-->
<br>
<h3 id="ideas-header" >Recent ideas<span class="material-symbols-outlined">lightbulb</span></h3>
<div class="entry-background">

{% for prop in proposals %}

<div class="row no-gutters prop-overview">
    <br>
    <div class="col-12 col-md-4"><a href="{% url 'prop_single' prop.slug %}"><strong>Topic: </strong>{{ prop.title }}</a></div>    
    <div class="col-12 col-md-4"><strong>Supmitted on: </strong>{{ prop.created_on }}</div>
    <div class="col-12 col-md-4"><strong>Student: </strong>{{ prop.student }}</div>
</div>
<hr>

{% endfor %}

{% if user.is_authenticated %}
<li>
	<a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
</li>
{% else %}
<li class="nav-item">
	<a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
		href="{% url 'account_signup' %}">Register</a>
</li>
<li class="nav-item">
	<a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
</li>
{% endif %}

</div>

{% endblock %}
