{% extends "base.html" %}

{% block content %}

{% load static%} 

<!--Below is the overwiew of the most recently submitted students ideas-->
<br>
<h3 class="prop-overview" >Recent ideas<span class="material-symbols-outlined">lightbulb</span></h3>

<div class="row no-gutters">
    <br>
    <div class="col-12 col-md-4 prop-overview">Topic/Subject</div>
    <div class="col-12 col-md-4 prop-overview">Student</div>
    <div class="col-12 col-md-4 prop-overview">Keywords</div>
</div>
<hr>

{% endblock %}
