{% extends "base.html" %}

{% block content %}

<h1>Proposal submission form under construction</h1>
<!--
<section class="section-bg">
    <div class="row no-gutters">
        <div class="col-md-2">
            <img src="../images/jurgita.jpg" title="Dr Jurgita Zekonyte" alt="Dr Jurgita Zekonyte">
        </div>
        <div class="col-md-10 bio">Jurgita Zekonyte is a lead of the project and expert in advanced surfaces and
            interfaces science, surface modification and characterisation from nano to micro scale.</div>
    </div>

    <div class="row no-gutters">
        <div class="col-md-2">
            <img src="../images/mariana.jpg" title="Dr Mariana Dotcheva" alt="Dr Mariana Dotcheva">
        </div>
        <div class="col-md-10 bio">Dr Mariana Dotcheva is specialising in Additive Manufacturing (AM). She is actively
            working on several projects around metal AM.</div>
    </div>

    <div class="row no-gutters">
        <div class="col-md-2">
            <img src="../images/krasimir.png" title="Dr Krasimir Dotchev" alt="Dr Krasimir Dotchev">
        </div>
        <div class="col-md-10 bio">Dr Krasimir Dotchev is specialising in advance CAD modelling and has wealth of
            experience in AM (stereolithography, SLS, FDM and metal AM) through his work on research and commercial
            projects.</div>
    </div>
</section>
-->
{% endblock %}